<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons>
        <ion-back-button defaultHref="teacher-classes"></ion-back-button>
      </ion-buttons>
    <ion-title>{{ subject }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="medium">
<div *ngFor="let key of keys"> 
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>{{ lists[key].date_time }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-button color="primary" expand="full" (click)="generateCode(lists[key].id)">Código de asistencia</ion-button>
        <ion-button color="primary" expand="full" (click)="generateManualList(lists[key].id)">Ver lista</ion-button>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>