<ion-content padding>

  <div class="my-overlay" padding [hidden]="NotAuthError">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>El usuario o la contraseña son incorrectos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-icon name="close-circle" color="danger" size="large"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>

  <img src="./assets/img/logouad.png">
  <ion-grid>
    <ion-col>
      <ion-item>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input [(ngModel)]="data.username" clearInput></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="data.password" type="password" clearInput></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-row>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-button expand="full" (click)="sendInfo()">Iniciar Sesión</ion-button>
    </ion-col>
  </ion-grid>
</ion-content>