<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons>
        <ion-back-button defaultHref="student-classes"></ion-back-button>
      </ion-buttons>
    <ion-title>Código de registro</ion-title>
  </ion-toolbar>
</ion-header>

<div class="my-overlay" padding [hidden]="overlayHiddenSuccess">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>¡Bien!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>Tu asistencia ha sido registrada</p>
      </ion-text>
    </ion-card-content>
    <ion-card-content>
        <ion-icon name="checkmark-circle" color="success" size="large"></ion-icon>
    </ion-card-content>
  </ion-card>
</div>

<div class="my-overlay" padding [hidden]="overlayHiddenFailed">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>¡Oh no!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          <p>Hubo un error, intenta nuevamente</p>
        </ion-text>
      </ion-card-content>
      <ion-card-content>
          <ion-icon name="close-circle" color="danger" size="large"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Ingresa el código del maestro</ion-label>
    <ion-input type="number" #code clearInput></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="sendCode(code.value)">Ingresar código</ion-button>
</ion-content>