ion-toolbar{
    height: 64px;
}
ion-item{
    padding-top: 20px;
}

ion-button{
    height: 4em;
    position: fixed;   
    width: 90%;
    bottom: 30px;
}

.my-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 20;
    top: 0;
    left: 0;
}

.card{
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
}

ion-title{
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

ion-back-button{
    position: absolute;
    margin-top: 0.55em;
}