<ion-header>
  <ion-toolbar>
    <ion-title>url</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-col>
      <ion-item>
        <ion-label position="floating">URL</ion-label>
        <ion-input #url type="text" value="" clearInput ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-row>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-button expand="full" (click)="send(url.value)">Iniciar Sesión</ion-button>
    </ion-col>
  </ion-grid>
</ion-content>
