ion-text{
    text-align: center;
}

.progressbar {
    height: 40px;
    width: 100%;
    background-color: #1d75b8;
    animation-name: shrink;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes shrink{
    from{ width: 100%; background-color: #1d75b8; }
    to{width: 0%; background-color: #f04141;}
}

ion-card-title{
    padding-top: 2em;
}

ion-button{
    margin-top: 1.5em;
    height: 3em;
    position: relative;   
}

ion-back-button{
    position: absolute;
    margin-top: 0.55em;
}

ion-title{
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

.my-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 20;
    top: 0;
    left: 0;
}

.card{
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
}