<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="teacher-classes"></ion-back-button>
    </ion-buttons>
    <ion-title>Código de asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<div class="my-overlay" padding [hidden]="overlayHiddenSuccess">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>¡Bien!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>La lista se ha guardado exitosamente</p>
      </ion-text>
    </ion-card-content>
    <ion-card-content>
        <ion-icon name="checkmark-circle" color="success" size="large"></ion-icon>
    </ion-card-content>
  </ion-card>
</div>

<div class="my-overlay" padding [hidden]="overlayHiddenConfirm">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Lista de alumnos</ion-card-title>
        <ion-card-subtitle> Estos son los alumnos registrados, favor de confirmar para guardar la lista. De lo contrario, edité los campos necesarios.</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let student of students">
          {{ student.first_name }} {{ student.last_name }} <br>
          Faltas: {{ student.missings }}
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <ion-button expand="full" (click)="goTeacherSchedule()">Confirmar</ion-button>
      <ion-button expand="full" (click)="close()">Regresar</ion-button>
    </ion-card-content>
  </ion-card>
</div>

<ion-content padding>
  <ion-text>
    <h1>{{ code }}</h1>
  </ion-text>
  <ion-item lines="none">
    <div class="progressbar"></div>
  </ion-item>
  <h2>{{ subject }}</h2>
  <div>
    <ion-list>
      <ion-item *ngFor="let student of students">
        {{ student.first_name }} {{ student.last_name }} <br>
        Faltas: {{ student.missings }}
      </ion-item>
    </ion-list>
  </div>
  <ion-footer>
    <ion-button expand="full" color="primary" (click)="submitList()">Cerrar lista</ion-button>
  </ion-footer>
</ion-content>
