<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="teacher-classes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ subject }}</ion-title>
  </ion-toolbar>
</ion-header>

<div class="my-overlay" padding [hidden]="overlayHiddenSuccess">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>¡Bien!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          <p>La lista se ha guardado exitosamente</p>
        </ion-text>
      </ion-card-content>
      <ion-card-content>
          <ion-icon name="checkmark-circle" color="success" size="large"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="8" class="ion-text-center">Alumnos</ion-col>
      <ion-col size="4" class="ion-text-center">Faltas</ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>    
    <ion-item *ngFor="let key of keys">
      {{ students[key].first_name }} {{ students[key].last_name }} <br>
      <ion-button slot="end" (click)="decrement(key)">-</ion-button>
        <ion-text slot="end">{{ students[key].missings }}</ion-text>
      <ion-button slot="end" (click)="increment(key)">+</ion-button>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-button expand="full" color="primary" (click)="submitList()">Cerrar lista</ion-button>
  </ion-footer>
</ion-content>
