ion-col{
    font-weight: bold;
    font-size: 1.2em;
}

ion-button{
    height: 4em;
    position: relative;   
}

ion-item ion-button{
    font-weight: bolder;
    height: 2.5em;
    width: 2.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

ion-text{
    margin-left: 1em;
    font-weight: bolder;
}

ion-title{
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

ion-back-button{
    position: absolute;
    margin-top: 0.55em;
}

.my-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 20;
    top: 0;
    left: 0;
}

.card{
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
}