<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Bienvenido(a)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="medium">
  <div *ngIf="no_classes" class="emptycenter ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="8"><h1>Por el momento no tienes clases</h1></ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let key of keys" col-12 no-padding>
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title> {{ cards[key].subject['name'] }} </ion-card-title>
              <ion-card-subtitle>
              {{ cards[key].session_date }}
              <br>
              {{ cards[key].session_start }} - {{ cards[key].session_end }} 
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-button color="primary" expand="full" (click)="redeemCode(cards[key].id)">Ingresar código</ion-button>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
